<div class="col-lg-12 col-md-12">
  <br>
  <h3 class="ClearSans-Thin">this is where all the pretty graphs and statics will go</h3>
  <br>
  <span>lost of things can be added here</span>
  <ul>
    <li>overall weekly, monthly, yearly report of branch up/down time (with graph)</li>
    <li>which branches fail more often (EV-DO request can be verified using the stats)</li>
    <li>also, automatic pinger can be added...</li>
    <li>YOU can add lots of stuff here :)</li>
  </ul>

  <h1 class="ClearSans-Thin"><small>most importantly,</small> HAVE FUN!</h1>
</div>
