<div class="col-lg-12 col-md-12">
  <p>&nbsp;</p>

  <div class="row">
    <div class="col-lg-offset-2 col-lg-3">
      <calendar ng-model="stat.range.from" data-mode="date"></calendar>
    </div>

    <div class="col-lg-3">
      <calendar ng-model="stat.range.to" data-mode="date"></calendar>
    </div>

    <div class="col-lg-2">
      <button class="btn btn-primary btn-block">search</button>
    </div>
  </div>

  <p>&nbsp;</p>

  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <pre>{{ stat.range | json }}</pre>
    </div>
  </div>
</div>
