@font-face {
	font-family:			OpenSansL;
	src:					url(../font/OpenSans-Light.ttf);
}

@font-face {
	font-family:			LatoR;
	src:					url(../font/Lato-Reg.ttf);
}

body {
	font-family:			OpenSansL,'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:				16px;
}

.form-control, .btn {
	border-radius:			0px 0px 0px 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:			OpenSansL,'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:			normal;
}

.list-group-item:first-child,
.list-group-item:last-child {
	border-radius:			0px 0px 0px 0px;
}

.btn-group-vertical > .btn:last-child:not(:first-child),
.btn-group-vertical > .btn:first-child:not(:last-child) {
	border-radius:			0px 0px 0px 0px;
}

.list-group-item {
	border:					1px solid rgba(51, 51, 51, 0.125);
}

.modal-body {
	padding:				20px 20px 0px 20px;
}

#LOGIN_CONTAINER {
	margin-top:				10%;
}

#BRANCH_LIST,
#REPORT_LIST,
#LOG_LIST {
	overflow-y:				scroll;
}

.branch.hidden,
.report.hidden,
.users.hidden {
	display:				none;
}

.branch:before,
.report:before,
.users:before {
	position:				absolute;
	top:					0;
	bottom:					0;
	left:					0;
	right:					0;
    content:				"";
    z-index:				1;
}

.branch div.overlay,
.report div.overlay,
.users div.overlay {
    position:				absolute;
	top:					0px;
	bottom:					0px;
	left:					0px;
	right:					0px;
	z-index:				2;
	padding:				0px;
    opacity:				0;
    -moz-transition: 		opacity 0.8s;
	-webkit-transition:		opacity 0.8s;
	-o-transition:			opacity 0.8s;
    transition:				opacity 0.8s;
}

.branch div.overlay,
.report div.overlay,
.users div.overlay {
	background-color:		rgba(0, 0, 0, 0.105);
}

.branch:hover div.overlay, .branch:hover .cnt,
.report:hover div.overlay, .report:hover .cnt,
.users:hover div.overlay, .users:hover .cnt {
    opacity:				1;
}

.branch h4,
.report h4 {
	font-family:			LatoR,'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:				24px;
	font-weight:			normal;
}

.users h4 {
	font-family:			LatoR,'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:				18px;
	font-weight:			normal;
}

	.ip {
		font-size:			20px;
		margin-bottom:		2px;
	}

	.service_no {
		font-size:			20px;
		margin-bottom:		4px;
	}

	.info_plus {
		font-size:			12px;
		margin-bottom:		0px;
	}

	.ticket_no {
		font-size:			22px;
		margin-bottom:		4px;
	}

	.date_reported {
		font-size:			14px;
		margin-bottom:		2px;
	}

	.reported_by {
		font-family:		LatoR,'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size:			18px;
		margin-bottom:		0px;
	}

	.open {
		background-color:	rgba(231, 76, 60, 0.175);
	}

	.closed {
		background-color:	rgba(46, 204, 113, 0.175);
	}


.log h4 {
	font-family:			LatoR,'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:				12px;
	font-weight:			normal;
	margin-top:				0px;
	margin-bottom:			-4px;
}

	.log_ {
		font-size:			16px;
		margin-bottom:		2px;
	}

	.log_ts {
		font-size:			10px;
		margin-top:			10px;
		margin-bottom:		2px;
	}

.CONFIG {
	position:				fixed;
	right:					0;
	top:					0;
	border-top:				0px solid rgba(0, 0, 0, 0);
	z-index:				8;
}

	.CONFIG button {
		font-size:			22px;
	}
