<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="robots" content="noindex, nofollow" />

		<link rel="icon" type="image/png" href="assets/image/favicon.png" />

        <title>BOA</title>

        <link rel="stylesheet" href="static/bs3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/css/style.css" />
    </head>

    <body ng-app="BOA">
		<div class="container">
			<div class="row" ng-view></div>
        </div>

        <script type="text/javascript" src="static/jq/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="static/jq/jquery.ui.effect.min.js"></script>
        <script type="text/javascript" src="static/jq/jquery.ui.effect-fade.min.js"></script>
        <script type="text/javascript" src="static/jq/jquery.nicescroll.min.js"></script>
        <script type="text/javascript" src="static/zeroclipboard/ZeroClipboard.min.js"></script>
        <script type="text/javascript" src="static/moment/moment.min.js"></script>
        <script type="text/javascript" src="static/bs3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/angular/angular.min.js"></script>
        <script type="text/javascript" src="static/js/sha256.js"></script>
        <script type="text/javascript" src="static/js/angular.js"></script>
        <script type="text/javascript" src="static/js/script.js"></script>
    </body>
</html> 
